@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');

$main-font:'Poppins', ;

$color-red:#F50101;
$color-dark:#444444;
$color-black:#222222;
$color-grey:#6B6B6B;
$color-darkgrey:#717171;
$color-whitegrey:#666666;
$color-deepgrey:#605F5F;
$color-smoke:#DEDEDE;
$color-orange:#ff5a3d;
$color-darkorange:#f4454b;
$color-purple:#ff2d65;
$color-whitesmoke:#C2C1C2;
$color-facebook:#4D67A3;
$color-twitter:#25A7DF;
$color-googleplus:#D74936;
$color-instagram:linear-gradient(#400080, transparent), linear-gradient(200deg, #d047d1, #ff0000, #ffff00);
$color-youtube:#CC181E;

$bg-grey:#F9F9F9;
$bg-white:#fff;
$bg-black:#000000;

$breakpoint-md:768px;
$breakpoint-lg:992px;
$breakpoint-sm:576px;
$breakpoint-xl:1200px;