@import 'reset';
@mixin setWord($font-size,$font-weight,$color,$text-tranform) {
    font-size: $font-size;
    font-weight: $font-weight;
    color: $color;
    text-transform: $text-tranform;
}
@mixin brandName{
    .navbar-brand{
            position: relative;
            p{
                @include setWord(3.5rem, 700,$color-red, lowercase);
                span{
                    color:$color-dark;
                }
            }
            >span{
                position: absolute;
                top: 0;
                right:0;
                transform: translate(100%,100%);
                @include setWord(1rem, 900, $color-dark, none);
            }

            
        }

}
.modal-open{
    header{
        display: none;
    }
}

#navbarModal{
    @include brandName();
    .modal-header{
        padding-left: 2rem;
        button{
            font-size: 4rem;
            transform: translateY(15%);
        }
    }
    &.fade .modal-dialog{
        transform: translate(-100%,0);
    }
    &.show .modal-dialog{
        transform: none;
    }
    .modal-content{
        height: 100%;
        overflow-y: scroll;
        
    }
    .modal-dialog{
        height: 100%;
        margin: initial;
    }
    #listMenu{
        margin-left: 1.2rem;
        a{
            @include setWord(1.4rem, 700,$color-whitegrey,uppercase);
            width: 100%;
            &:hover{
                text-decoration: none;
                color: $color-red;
            }
        }
        >li{
            border-bottom: solid 1px $color-smoke;
            padding: 2rem 0;

        }
        .menu-collapse{
            border: none;
            // i{
            //     font-size:1.4rem;
            //     color: $color-whitegrey;
            
            // }
            ul{
                margin-left: 2rem;
                li{
                    padding: 1rem 0;
                }
                
            }
        }
    }
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99999;
    @include brandName();
    .navbar{
        background-color: $bg-white;
        button{
            background-color: initial;
            border: none;
            font-size: 2rem;
            color:$color-grey;
        }
    }
    .container-lg{
        padding: initial;
    }


}
.poster{
    margin-top: 2.9rem;
    .container-fluid{
        padding: initial;
    }
    &__img{
        height: 100vh;
        overflow: hidden;
        &-name{
            top:10%;
            left: 50%;
            transform: translateX(-50%);
            text-align: center;
            z-index: 110;
            span{
                display: block;
                white-space: nowrap;
                @include setWord(8rem, 900, none, uppercase);
                &:nth-child(1){
                    background: linear-gradient(to bottom,$color-orange,$color-darkorange);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                }
                &:nth-child(2){
                    background: linear-gradient(to bottom, $color-darkorange, $color-purple);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    margin-top: -3rem;
                }
            }  
        }
        &-cloud{
            &[data-count="0"]{
                top:50%;    
                left: 50%;
                z-index: 120;
                animation: moveCloud 200s alternate infinite;

            }
            &[data-count="1"]{
                top:60%;
                left: 20%;
                z-index: 120;
                animation: moveCloud 200s alternate infinite;

            }
            &[data-count="2"]{
                top:30%;
                left: 0;
                z-index: 100;
                animation: moveCloud 200s alternate infinite;

            }
            &[data-count="3"]{
                top:40%;
                left: 10%;
                z-index: 100;
                animation: moveCloud 200s alternate infinite;

            }
            &[data-count="4"]{
                top:30%;
                left: 50%;
                z-index: 100;
                animation: moveCloud 200s alternate infinite;

            }
            &[data-count="5"]{
                top:60%;
                left: -20%;
                z-index: 120;
                animation: moveCloud 200s alternate infinite;

            }
            &[data-count="6"]{
                top:30%;
                left: -60%;
                z-index: 100;
                animation: moveCloud 200s alternate infinite;

            }
            &[data-count="7"]{
                top:40%;
                left: -10%;
                z-index: 120;
                animation: moveCloud 200s alternate infinite;

            }

        }
        &-mountain{
            bottom: 20%;
            left: 50%;
            transform: translateX(-50%);
            width: 673px;
            z-index: 110;
        }
    }
}

.about{
    &__title{
        i{
            color: $color-red;
            font-size: 3rem;
        }
        
    }
    &__info{

        &-item{
            i{
                font-size: 1.3rem;
                color:$color-red;
                margin-top: .5rem;
                width: 2rem;
                
            }
            h4{
                width: 9rem;
            }
        }
        &-sub{
            color: $color-red;
        }
        &>h4{
            line-height: 150%;
        }
    }
}

.trailer{
    background: url("../img/bg-3.png") repeat center;
    #trailerAccordion{
        & button[aria-expanded=true]{
            background-color: $bg-white;
            pointer-events: none;
            h3{
                color: $color-grey;
            }
        }
        & button{
            h3{
                color: $bg-white;
            }
        }
    }
}
.people{
    &__img::before{
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top:0;
        left: 0;
        background-color: rgba(0, 0, 0, .5);
        display: none;
        transition: all 0.35s ease;
    }
    &__img::after{
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top:0;
        left: 0;
        background-color: rgba(0, 0, 0, .7);
        transform: skew(20deg) translateX(-125%);
        transition: all 0.35s ease;
        
    }
    &__img{
        &:hover{
            &:before{
                display: block;
            }
            &::after{
                transform:skew(20deg) translateX(-76%);
            }
            .people__decription{
                h1{
                    transform: scale(1);
                }
                h2{
                    transform: translateX(0);
                    opacity: 1;
                }
                i{
                    transform: translateX(0);
                    opacity: 1;
                }
            }


        }
    }

    &__decription{
        top:7%;
        right: 10%;
        
        h1{
            font-size: 3rem;
            transform: scale(0);
            transition: all 0.35s ease;
            white-space: nowrap;
        }
        h2{
            font-size: 2.5rem;
            transform: translateX(10%);
            opacity: 0;
            transition: all 0.35s ease;
        }
        i{
            color: $color-grey;
            background-color: $bg-white;
            border-radius: 50%;
            font-size: 2rem;
            font-weight: 900;
            transform: translateX(10%);
            opacity: 0;
            transition: all 0.5s ease;
            &:hover{
                color:$bg-white ;
                background-color: $color-deepgrey;
            }
        }
    }

}
.logo{
    img{
        object-fit: scale-down;
    }
}
.release{
    background: url("../img/bg-4.png") no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    &__info{
        padding: 5rem 0;
        border-bottom: solid 1px $color-grey;
        
        &-date{
            h1{
                font-size: 6rem;
            }
            h2{
                font-size: 3rem;
                margin-top: -1.8rem;
                &.-small{
                    margin-top: -1.5rem;

                }
            }
        }
        &-sub{
            padding: 3rem 0;
        }
        &-btn{

            button{
                font-size: 1.5rem;
            }
            i{
                margin-right: 1rem;
            }
        }

    }
}
.customer{
    .carousel{
        &-item{
            img{
                height: 15rem;
                width: 15rem;
            }
        }
        &-indicators{
            position: initial;
            li{
                height: 1.5rem;
                width: 1.5rem;
                background-color: $color-red;
            }
        }
    }
}
.icon{
    &__item{
        &-box{
            padding: .5rem;
            border-radius: 50%;
            border:solid 1px $color-red;
            height:9rem;
            width: 9rem;
        }
        &-sub{
            background-color: $color-red;
            height: 100%;
            width: 100%;
            border-radius: 50%;
            i{
                margin-top: 50%;
                transform: translateY(-50%);
                font-size: 3rem;
                color: $bg-white;
            }
            &:hover{
                background-color: $bg-white;
                i{
                    color: $color-red;
                }
            }
        }
    }
}
.gallery{
    &__item{
        padding: initial;
        i{
            position: absolute;
            top:50%;
            left: 50%;
            transform: translate(-50%,-50%);
            color: $bg-white;
            font-size: 4rem;
            opacity: 0;
            transition: all .35s ease;
        }
        &::before{
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, .5);
            display: none;
        }
        &:hover{
            i{
                opacity: 1;
            }
            &:before{
                display: block;
            }

        }

    }
}
.blog{
    &__img{
        height: 29rem;
        

        &-box{
            bottom: 1rem;
            left: 1rem;
            width: 25rem;
            h4{
                color: $bg-white;
                opacity: .8;
            }
            i{
                color: $color-red;
                margin-right: .4rem;
            }
        }
    }
    button{
        font-size: 1.5rem;
    }
}
.contact{
    &__message{
        background: url("../img/bg-5.png") no-repeat center;
        background-size: cover;
    }
    &__input{
        input,textarea{
            background-color: initial;
            border: 1px solid $bg-white;
            height: 4.5rem;
            font-size: 1.5rem;
            padding:0 1.5rem;
            color: $bg-white;
            &::placeholder{
                color: $bg-white;
            }
        }
        textarea{
            height: 14rem;
        }
    }
    &__info{
        h4{
            i{
                color:$color-red;
                margin-right: .7rem;
            }
        
        }
        ul{
            li{
                height: 5rem;
                width: 5rem;
                box-sizing: border-box;
                border-radius: 50%;
                &:nth-of-type(n+2){
                    margin-left: 1rem;
                }
                i{
                    font-size: 2rem;
                    display: block;
                    padding-top: 1.4rem;
                    color: $bg-white;
                    
                    
                }
                &:nth-child(1){
                        background-color: $color-facebook;
                    }
                &:nth-child(2){
                    background-color: $color-twitter;
                }
                &:nth-child(3){
                    background-color: $color-googleplus;
                }
                &:nth-child(4){
                    background: $color-instagram;
                    &:hover{
                        background: rgb(255, 0, 0);
                    }
                }
                &:nth-child(5){
                    background-color: $color-youtube;
                }
                &:hover{
                    background-color: $color-red;
                }
            }
        }
        h5{
            line-height: 150%;
        }
    }
}
.footer{
    @include brandName();
    background-color: $bg-black;
}
// -- Animation --
@keyframes moveCloud{
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(110%);
    }
}

// -- Reponsive --
@import 'reponsive';